h2{
    font-weight: 700;
    padding: 60px;
}

.admin-page{
    height: auto;
    padding-bottom: 50px;

}
.admin-page .capture-form{
    margin: auto;
    border-radius: 8px;
    border: 2px solid yellow;
    width: 360px;
    padding: 20px 5px;
    
}
.admin-page .my-control label{
    display: inline-block;
    width: 80px;
    text-align: right;
    margin-right: 7px;
}

.admin-page .my-control input{
    display: inline-block;
    width: 200px;
}