.value{
    color: hotpink;
    font-weight: 600;
}
.quantity-picker .btn{
    border-radius: 35px;
    padding: 3px 8px;
    margin-left: 5px;
    margin-right: 5px;
    border:1px solid black;

}

.quantity-picker .btn-minus {
    padding: 3px 10px;
}

.quantity-picker .btn:hover{
    border-color: rgb(175, 29, 29);
}