<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>Document</title>
</head>

<body>
    <h1>
        <img src="https://cdn.filestackcontent.com/7WnZWlR7TgafdDesB5ow" alt="python">
    </h1>
    <a href="api/catalog">
        /api/catalog
    </a>
    <p>
        This method return the list of products as a json array.
    </p>

    <a href="api/catalog/Code">
        /api/catalog/&ltcategory&gt;
    </a>
    <p>
        This method find the products that belong to category and return the products as a json.
    </p>

    <a href="/api/catalog/id/1011">
        /api/catalog/id/&ltid&gt
    </a>
    <p>
        This method return the product with the specific id.
    </p>

    <a href="/api/catalog/cheapest">
        /api/catalog/cheapest
    </a>
    <p>
        This method get the cheapest product and return it as a json.
    </p>

    <a href="/api/categories">
        /api/categories
    </a>
    <p>
        This method give a list of unique categories as a json array of strings.
    </p>

    <a href="api/test">
        /api/test
    </a>
    <p>
        This method add and remove products, get the length of the array of products, print the list and
        some elements.
    </p>
</body>

</html>