
.navbar-page{
    border: 1px solid gray;
    font-weight: 600;
    align-items: center;
    text-align: center;
}
.navbarNav{
    align-items: center;
    text-align: center;
}

.navbar-page h6{
    color: rgb(231, 228, 10);
    font-size: 16px;
}
footer{
    color: red;
    font-size: medium;
    font-weight: 600;
    background-color: black;
}