body{
  background-color: #e74c3c;
  }
  h1{
    text-transform: uppercase;
    text-align: center;
  }
  /* li{
    text-align: center;
  } */
  li:hover span{
    width: 20px;
    opacity: 1;
    }  
    span{
      background-color: #e74c3c;
      opacity: 0;
      display: inline-block;
      padding: 10px;
      transition: 0.2s linear;
   
    }
  
  .container{
    background: #f7f7f7;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
   
    }
    input[type='text']{
      font-size: 20px;
      width: 100%;     
    }

