body{
  padding:0;
  margin:0;
  background-color: #2a6cc4;
}

h1{
  color:white;
  padding:10px 0;
  text-align: center;
  margin:0 0 20px 0;
  background-color: #2a6cc4;
}

.capture-form{
  text-align: center;
  
  border: 1px solid #aaa;
  border-radius: 6px;
  width:320px;
  background-color: white;
  margin: 20px auto;
  padding:25px;
  box-shadow:0 2px 4px #333;
}

.todo-item{
  background-color: white;
  box-shadow: 0 1px 2px #e1e1e1;
  border:1px solid #c9c9c9;
  border-radius:4px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 20px;
  padding: 15px 20px;
  margin: 0px 10px 15px 20px;
}

.todo-item:hover {
  border:1 px solid rgb(95,135,161);
  border-left:5px solid rgb(22,87,130);
  padding-left: 15px;
  font-weight:600px;
}
.counter-task{
  text-align: center;
  background-color: rgb(95,135,161);
  border-radius: 6px;
  width:320px;
   margin: 20px auto;
  /* padding:25px; */
  box-shadow:0 2px 4px #333;
}
#del{
 text-align: end;
 align-items: flex-end;


}