body{
  background-color: #2a6cc4;
}

h1{
  color:white;
  padding:10px 0;
  text-align: center;
  margin:0 0 20px 0;
  background-color: #2a6cc4;
  font-weight: 600;
}

.capture-form{
  text-align: center;
  border: 2px solid rgb(94, 88, 88);
  border-radius: 6px;
  width:500px;
  background-color: rgb(139, 194, 231);
  margin: 10px auto;
  padding:40px;
  box-shadow:0 4px 4px #333;
}

.todo-item{
  background-color: rgb(139, 194, 231);
  box-shadow: 0 2px 2px #1a1818;
  border:1px solid #3a3434;
  border-radius:4px;
  align-items: center;
  text-align: center;
  font-size: 30px;
  padding: 15px 20px;
  margin: 0px 10px 10px 10px;
}

.todo-item:hover {
  border:1 px solid rgb(95,135,161);
  border-left:25px solid rgb(16, 73, 110);
  padding-left: 15px;
  font-weight:600px;
}
.counter-task{
  text-align: center;
  background-color: rgb(228, 74, 27);
  border-radius: 6px;
  width:320px;
   margin: 20px auto;
  /* padding:25px; */
  box-shadow:0 2px 4px #333;
}
#del:hover{
  /* width: 20px; */
  opacity: 1;

}
#del{
  background-color: red;
  opacity: .1;
  display: inline-block;
  padding: 10px;
  transition: 0.2s linear;
  float: right;
}